server {
    listen 80;
    listen [::]:80;

    # DONE: This should be your server name.
	# DONE: changed port from 4791 to 4789
    server_name memory2.mgrathena.info;

    location / {
        proxy_pass http://localhost:4789;
    }

    location /socket {
        proxy_pass http://localhost:4789;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";	 	 
    }
}
